body {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  background: bisque; }
  @media only screen and (min-width: 480px) {
    body {
      background: blue; } }
  @media only screen and (min-width: 768px) {
    body {
      background: yellow; } }
  @media only screen and (min-width: 1024px) {
    body {
      background: burlywood; } }
  @media only screen and (min-width: 1200px) {
    body {
      background: green; } }

.nav-head {
  position: relative;
  background: #231f20;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media only screen and (min-width: 480px) {
    .nav-head {
      background: #7d7e83; } }

.logo-wrap {
  height: 75px;
  width: 300px;
  margin: 0 auto;
  position: relative;
  display: inline-block; }
  @media only screen and (min-width: 480px) {
    .logo-wrap {
      margin: 0; } }
  .logo-wrap a {
    display: block;
    font-size: 0; }
  .logo-wrap img {
    padding: 20px 40px;
    background: #231f20;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

.toggle-btn {
  width: 40px;
  height: 30px;
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: space-around;
      -ms-flex-line-pack: distribute;
          align-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media only screen and (min-width: 480px) {
    .toggle-btn {
      right: 10px; } }
  @media only screen and (min-width: 768px) {
    .toggle-btn {
      display: none; } }
  .toggle-btn span {
    width: 30px;
    height: 3px;
    background: #fff;
    display: block;
    -webkit-transition: .2s;
    transition: .2s; }
  .toggle-btn span:nth-child(2) {
    left: 0;
    opacity: 1; }
  .toggle-btn.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0; }
  .toggle-btn.open span:nth-child(2) {
    left: 50px;
    opacity: 0; }
  .toggle-btn.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0; }

.nav-section {
  position: relative; }

.mobile-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  height: 0;
  overflow: hidden;
  -webkit-transition: .2s;
  transition: .2s;
  position: absolute;
  right: 0;
  text-align: right; }
  @media only screen and (min-width: 768px) {
    .mobile-list {
      display: none; } }
  .mobile-list.open {
    height: 301px; }
  .mobile-list a {
    padding: 10px 15px;
    width: 100%;
    display: block;
    font-family: Helvetica;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .mobile-list a.active {
      background: #007392; }
  .mobile-list li {
    background: #009bc5; }
    .mobile-list li:nth-child(2n) {
      background: #008fb6; }

.nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;
  font-size: 0;
  -webkit-box-flex: 2;
  -webkit-flex: 2 2 auto;
      -ms-flex: 2 2 auto;
          flex: 2 2 auto;
  text-align: center;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
              -ms-grid-row-align: stretch;
          align-self: stretch;
  -webkit-flex-shrink: 100%;
      -ms-flex-negative: 100%;
          flex-shrink: 100%; }
  @media only screen and (min-width: 768px) {
    .nav-list {
      display: inline-block; } }
  .nav-list li {
    display: inline-block;
    height: 100%; }
  .nav-list a {
    display: block;
    height: 100%;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    vertical-align: middle; }
    .nav-list a.active, .nav-list a:hover {
      background: #646569; }
